@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Playfair+Display:wght@400;600&display=swap');

@import url("css/card.css");

p {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  color: #002868;
  letter-spacing: 2px;
  padding: 10px;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  color: #BF0A30;
  letter-spacing: 2px;
  padding: 10px;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: #002868;
  letter-spacing: 2px;
}

.container {
  margin-top: 50px;
}

.avatar {
  border-radius: 50%;
  width: 200px;
}

.quote-author {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.column1 {
  float: left;
  width: 25%;
  background-color: #fbf7f0;
  text-align: center;
}

.column2 {
  float: left;
  width: 25%;
  background-color: #fbf7f0;
}

.column3 {
  float: left;
  width: 25%;
  background-color: #fbf7f0;
}

.column4 {
  float: left;
  width: 25%;
  background-color: #fbf7f0;
}

.column_footer {
  float: left;
  width: 25%;
  background-color: #fbf7f0;
  text-align: center;
}

.row1 {
  display: flex;
}

.row2 {
  display: flex;
  background-color: #fbf7f0;
}


.btn-medium {
  color: #002868;
  border: 1px solid #002868;
  border-radius: 50px;
  padding: 10px 15px;
  font-weight: normal;
  background-color: transparent;
  opacity: 0.6;
  text-decoration: none;
}

.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #BF0A30;
  border: 1px solid #BF0A30;
}

.button_footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer {
  font-size: 20px;
  padding: 20px;
  text-align: left;
}

.list-inline {
  color: #002868;
  text-align: right;
  margin-right: 20px;
}
.fab {
    color: #002868;
    font-size: 20px;
}

.paragraph {
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  font-weight: lighter;
  margin: 10px;
  padding: 15px;
  background-color: #ffffff;
  height: 400px;
}

.subtext {
  text-align: center;
  margin: 20px;
}

#headline {
  text-align: left;
  margin-left: 20px;
}
